[Desktop Entry]
Type=Application
Name=CC Switch-S
Comment=All-in-One Assistant for Claude Code, Codex & Gemini CLI
Exec=cc-switch
Icon=com.ccswitchs.desktop
Terminal=false
Categories=Utility;Development;
StartupNotify=true
